{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bienvenidos!</h1>
    <p class="lead">Esta es una pequeña página web para dar a conocer algo acerca de mi vida, mis estudios y mis conocimientos.</p>
    <hr class="my-4">
    <p>Si quieres conocer más, te invito para que accerdas a las pestañas: sobre mi, y estudios, 
        allí encontrarás más información sobre mí, o 
        accede directamente desde el siguiente boton.</p>
    <a class="btn btn-outline-primary" href="/about" role="button">Aprende más</a>
</div>

{% endblock %} 